<div id="box" class=".box">
  <form method="post" name="form">

    <div class="group">
      <input type="text" placeholder="Username" class="txt" name="username" id="user">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>

    <div class="group">
      <input type="password" placeholder="Password" class="txt" name="password" id="pass">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>
    </form>
    <div class="buttons">
      <button value="Login" id="login" class="b">Login</button>
      <a href="user/register">Register</a>
    </div>
</div>
<script>
  let login = document.getElementById('login');
  login.addEventListener('click',function(evt){
    let user = document.getElementById('user').value;
    let pass = document.getElementById('pass').value;
    let obj = {username:user,password:pass};
    let login=document.getElementById('login');
    let req = new XMLHttpRequest();
    req.open('POST', '/login');
    req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    req.responseType = 'json';
    console.log(JSON.stringify(obj));
    req.onload = function(evt) { 
      console.log(req.response);
      var res = req.response;
      if(res.ok){
        window.location.href="/products";
      }
      else if(res.ok == false){
        window.alert("Username or Password Incorrect. Try again.");
      }
     };
     console.log('sent');
    req.send( JSON.stringify( obj ));
  });
</script>