<html>
<header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">    <!--<link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<!--===============================================================================================-->
    <title>Login</title>
</header>
<body>
	<div class="limiter">
		<div class="container container-login100">

			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
								<div id="dragon-logo">
			<div class="fas fa-dragon fa-7x" id="login-logo"></div>
				<h2 style="font-family: cursive"> PlayMaster</h2>
			</div>
					<span class="login100-form-title p-b-32 display-1">
						Login
					</span>

					<div class="wrap-input100-l validate-input m-b-36" data-validate = "Username is required">
						<input id="user" placeholder="Username" class="input100" type="text" name="username" >

					</div><br>

					<div class="wrap-input100-l validate-input m-b-12" id="passcon" data-validate = "Password is required">
						<span class="btn-show-pass">
						</span>
						<input class="input100" id="pass" placeholder="Password" type="password" name="pass" >

					</div>
					<div id="error-msg"></div>
					<div class="container-login100-form-btn">
						<button id="login" onclick="login();" class="login100-form-btn">
							Login
						</button>
            		
            <a href="user/register" id="register-btn" class="login100-form-btn">
							Register
						</a>
					</div>

			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
</body>
<script>
	
function login(){
    let user = document.getElementById('user').value;
    let pass = document.getElementById('pass').value;
		let errormsg = document.getElementById('error-msg');
		if( user=="" || pass==""){
			console.log('found');
			errormsg.textContent = "Please enter a username and password";
			return
		}

    let obj = {username:user,password:pass};
    let login=document.getElementById('login');
    let req = new XMLHttpRequest();
    req.open('POST', '/login');
    req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    req.responseType = 'json';
    console.log(JSON.stringify(obj));
    req.onload = function(evt) { 
      console.log(req.response);
      var res = req.response;
      if(res.ok){
        window.location.href="/products";
      }
      else if(res.ok == false){
        errormsg.textContent="Username or Password Incorrect. Try again.";
				return
      }
     };
     console.log('sent');
    req.send( JSON.stringify( obj ));
	}
</script>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
</html>
