<div id="box" class=".box">
    <form method="post" name="form">
        <label>First Name: </label><input type="text" name="firstName" id="fname" class="t"><br>
        <label>Last Name: </label><input type="text" name="lastName" id="lname" class="t"><br>
        <label>Email: </label><input type="text" name="email"id="email" class="t"><br>
        <label>Username: </label><input type="text" name="username" id="user"class="t"><br>
        <label>Password: </label><input type="password" name="password" id="pass" class="t"><br>
    </form>
    <a href="/"  onclick="register()">Register</a>
</div>
<script>


function register(){
    let user = document.getElementById('user').value;
    let pass = document.getElementById('pass').value;
    let email = document.getElementById('email').value;
    let fname = document.getElementById('fname').value;
    let lname = document.getElementById('lname').value;
    let obj = {username:user,password:pass,FName:fname,LName:lname,email:email};
   
    let req = new XMLHttpRequest();
    req.open('POST', '/user/register');
    req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    req.responseType = 'json';
    console.log(JSON.stringify(obj));
    req.send( JSON.stringify( obj ));
  }

</script>