<html>
<header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<title>Register</title>
</header>

<body>
<div class="limiter">
    <div class="container container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-32 display-1">
						Register
					</span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                        <input id="fname" placeholder="First Name" class="input100" type="text" name="username" >
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" placeholder="Last Name" name="lastName" id="lname" class="t">
                    <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" placeholder="Email"  name="email"id="email" class="t">
                    <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" placeholder="Username" name="username" id="user"class="t">
                    <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="password" placeholder="Password" name="password" id="pass" class="t">
                    <span class="focus-input100"></span>
                    </div>
					</form>
                    <div class="container-login100-form-btn">
						<button id="reg" onclick="register()" class="login100-form-btn">
							Submit
						</button>
                    </div>
                    <div id="error" ></div>

</div>
</div>
<div id="error"></div>
</body>

<script>
    
function register(){
    let user = document.getElementById('user').value;
    let pass = document.getElementById('pass').value;
    let email = document.getElementById('email').value;
    let fname = document.getElementById('fname').value;
    let lname = document.getElementById('lname').value;
    let error = document.getElementById('error');
    console.log(email);
    let obj = {username:user,password:pass,FName:fname,LName:lname,email:email};
    if(user=="" ||pass==""||email==""||fname==""||lname==""){
        error.textContent ="Please fill in all text boxes.";
        return
    }
    let req = new XMLHttpRequest();
    req.open('POST', '/user/register');
    req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    req.responseType = 'json';
    req.onload = function(evt) { 
        let res = req.response;
        if(res.ok){
            console.log('ok');
             window.location.href="/";
        }
        else{
            console.log('error');
            error.textContent = "Username already taken. Try again.";
        }
    }
    console.log(JSON.stringify(obj));
    req.send( JSON.stringify( obj ));
}
</script>
</html>