<div id="settings">
<h1 id="settings-title"><u>Account Settings</u></h1>
<div id="settings-b">
<button type="button" class="btn btn-info" data-toggle="collapse" id="userB" data-target="#demo">Change Username</button>
<div id="demo" class="collapse">
<label>New Username:</label> <input type='text' id='usern'><br>
<button class="set-submit" id="change-user">Change Username</button>
<div id="error-msg2"></div>
</div>
<br>
<button type="button" class="btn btn-info" id="passB" data-toggle="collapse" data-target="#demo1">Change Password</button>
<div id="demo1" class="collapse">
<label> Old Password:</label> <input type='password' id='old'><br>
<label> New Password:</label> <input type='password' id='new1'><br>
<label> Re-enter New Password:</label> <input type='password' id='new2'><br>
<button class="set-submit" id="sign-in">Change Password</button><br>
<div id='error-msg'></div>    
</div>
<br>
<button type="button" class="btn btn-info"  id="nameB" data-toggle="collapse" data-target="#demo3">Change Name</button>
<div id="demo3" class="collapse">
<label>First Name:</label> <input type='text' id='fname'><br>
<label>Last Name:</label> <input type='text' id='lname'><br>
<button class="set-submit" id="change-name">Change name</button>
<div id="error-msg3"></div>
</div>
<br>
<button type="button" class="btn btn-info" id="emailB" data-toggle="collapse" data-target="#demo4">Change Email</button>
<div id="demo4" class="collapse">
<label>New email address:</label> <input type='text' id='email'><br>
<button class="set-submit" id="Change-email">Change Email</button>
<div id="error-msg4"></div>
</div>
</div>
</div>
<script>
//------------------Change Username
let usern = document.getElementById('change-user');
usern.addEventListener('click', (evt) => {
    let newUser = document.getElementById('usern').value;
    errorMsg = document.getElementById('error-msg2');
    if( newUser == ''){
        errorMsg.textContent = "Please enter an username.";
    }
    else{
        let req = new XMLHttpRequest(); 
            req.open('POST', '/changeUsername');
            req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            req.responseType = 'json';
            let obj = {username:newUser};
            req.onload = function(evt) { 
                let res = req.response;
                if(res.ok){
                    document.getElementById('usern').value = "";
                    errorMsg.textContent = "";
                    window.alert('Username successfully changed.');
                    document.getElementById('userB').setAttribute("class","btn btn-info");
                    document.getElementById('userB').setAttribute("aria-expanded","false");
                    document.getElementById('demo').setAttribute("class","collapse");
                }
                else{
                    errorMsg.textContent = "Username already taken. Try again.";
                }
            }
            console.log(JSON.stringify(obj));
            req.send( JSON.stringify(obj));
    }
});
//------------------Change Password
let pass = document.getElementById('sign-in');
pass.addEventListener( 'click', (evt) => {
    let oldPassword = document.getElementById('old').value;
    let new1 = document.getElementById('new1').value;
    let new2 = document.getElementById('new2').value;
    let errorMsg = document.getElementById('error-msg');
    //Error checking
    if(new1 != new2){
        errorMsg.textContent = "New Password does not match. Try Again.";
    }
    else if(new1 ==''){
    errorMsg.textContent = "Must enter a new password. Try Again." ;   
    }
    else if(oldPassword==''){
        errorMsg.textContent = "Please enter your old password. Try Again.";
    }
    else if(oldPassword==new1){
        errorMsg.textContent = "The new password must be different than the current password. Try Again.";
    }
    //Send request, change password if old password is correct.
    else{
        let req = new XMLHttpRequest(); 
        req.open('POST', '/changePassword');
        req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        req.responseType = 'json';
        let obj = {oldPassword:oldPassword, newPassword:new1};
        req.onload = function(evt) { 
            let res = req.response;
            if(res.ok){
                document.getElementById('old').value = "";
                document.getElementById('new1').value = "";
                document.getElementById('new2').value = "";
                window.alert('Password successfully changed.');
                document.getElementById('passB').setAttribute("class","btn btn-info");
                document.getElementById('passB').setAttribute("aria-expanded","false");
                document.getElementById('demo2').setAttribute("class","collapse");
            }
            else{
                errorMsg.textContent = "Password Incorrect. Try again.";
            }
        }
        console.log(JSON.stringify(obj));
        req.send( JSON.stringify(obj));
    }
});
//---------------------------Change name
let cname = document.getElementById('change-name');
cname.addEventListener('click', (evt) => {
    let fname = document.getElementById('fname').value;
    let lname = document.getElementById('lname').value;
    if( fname == '' || lname == ''){
        errorMsg.textContent = "Please enter your first name and last name.";
    }
    else{
        let req = new XMLHttpRequest(); 
            req.open('POST', '/changeName');
            req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            req.responseType = 'json';
            let obj = {Fname:fname,Lname:lname};
            req.onload = function(evt) { 
                let res = req.response;
                if(res.ok){
                    document.getElementById('fname').value = "";
                    document.getElementById('lname').value = "";
                    window.alert('Name changed successfully.');
                    document.getElementById('nameB').setAttribute("class","btn btn-info");
                    document.getElementById('nameB').setAttribute("aria-expanded","false");
                    document.getElementById('demo3').setAttribute("class","collapse");
                }
                else{
                    errorMsg.textContent = "Error. Try again later.";
                }
            }
            console.log(JSON.stringify(obj));
            req.send( JSON.stringify(obj));
    }
});
let cemail = document.getElementById('Change-email');
cemail.addEventListener('click', (evt) => {
    let email = document.getElementById('email').value;
    if( email == ''){
        errorMsg.textContent = "Please enter your new email.";
    }
    else{
        let req = new XMLHttpRequest(); 
            req.open('POST', '/changeEmail');
            req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            req.responseType = 'json';
            let obj = {email:email};
            req.onload = function(evt) { 
                let res = req.response;
                if(res.ok){
                    document.getElementById('email').value = "";
                    window.alert('email changed successfully.');
                    document.getElementById('emailB').setAttribute("class","btn btn-info");
                    document.getElementById('emailB').setAttribute("aria-expanded","false");
                    document.getElementById('demo4').setAttribute("class","collapse");
                }
                else{
                    errorMsg.textContent = "Error. Try again later.";
                }
            }
            console.log(JSON.stringify(obj));
            req.send( JSON.stringify(obj));
    }
});
</script>