<div class="row">
    {{#each products}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{products.imagePath}}" 
                class="img-responsive" alt="monster hunter">
            <div class="caption">
                <a class="nav-link" href="/product/"><h3>{{products.name}}</h3></a>
                <p class="des">{{products.description}}</p>
                <div class="clearfix">
                    <div class="price">${{products.price}}</div>
                    <p><a href="#" class="btn btn-default" role="button"><i class="fas fa-plus"></i> Add to wish list</a>
                        <a href="#" class="btn btn-primary" role="button">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

