<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1b/Monster_Hunter_World_cover_art.jpg" 
                class="img-responsive" alt="monster hunter">
            <div class="caption">
                <a class="nav-link" href="/product/"><h3>Monster Hunter</h3></a>
                <p class="des">Monster Hunter: World[a] is an action role-playing game developed and published by Capcom. 
                    In the game, the player takes the role of a Hunter, 
                    tasked to hunt down and either kill or trap monsters that roam in one of several environmental spaces.</p>
                <div class="clearfix">
                    <div class="price">$79.99</div>
                    <p><a href="#" class="btn btn-default" role="button"><i class="fas fa-plus"></i> Add to wish list</a>
                        <a href="#" class="btn btn-primary" role="button">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1b/Monster_Hunter_World_cover_art.jpg" 
                class="img-responsive" alt="monster hunter">
            <div class="caption">
                <a class="nav-link" href="/product/"><h3>Monster Hunter</h3></a>
                <p class="des">Monster Hunter: World[a] is an action role-playing game developed and published by Capcom. 
                    In the game, the player takes the role of a Hunter, 
                    tasked to hunt down and either kill or trap monsters that roam in one of several environmental spaces.</p>
                <div class="clearfix">
                    <div class="price">$79.99</div>
                    <p><a href="#" class="btn btn-default" role="button"><i class="fas fa-plus"></i> Add to wish list</a>
                        <a href="#" class="btn btn-primary" role="button">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1b/Monster_Hunter_World_cover_art.jpg" 
                class="img-responsive" alt="monster hunter">
            <div class="caption">
                <h3>Monster Hunter</h3>
                <p class="des">Monster Hunter: World[a] is an action role-playing game developed and published by Capcom. 
                    In the game, the player takes the role of a Hunter, 
                    tasked to hunt down and either kill or trap monsters that roam in one of several environmental spaces.</p>
                <div class="clearfix">
                    <div class="price">$79.99</div>
                    <p><a href="#" class="btn btn-default" role="button"><i class="fas fa-plus"></i> Add to wish list</a>
                        <a href="#" class="btn btn-primary" role="button">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1b/Monster_Hunter_World_cover_art.jpg" 
                class="img-responsive" alt="monster hunter">
            <div class="caption">
                <h3>Monster Hunter</h3>
                <p class="des">Monster Hunter: World[a] is an action role-playing game developed and published by Capcom. 
                    In the game, the player takes the role of a Hunter, 
                    tasked to hunt down and either kill or trap monsters that roam in one of several environmental spaces.</p>
                <div class="clearfix">
                    <div class="price">$79.99</div>
                    <p><a href="#" class="btn btn-default" role="button"><i class="fas fa-plus"></i> Add to wish list</a>
                        <a href="#" class="btn btn-primary" role="button">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1b/Monster_Hunter_World_cover_art.jpg" 
                class="img-responsive" alt="monster hunter">
            <div class="caption">
                <h3>Monster Hunter</h3>
                <p class="des">Monster Hunter: World[a] is an action role-playing game developed and published by Capcom. 
                    In the game, the player takes the role of a Hunter, 
                    tasked to hunt down and either kill or trap monsters that roam in one of several environmental spaces.</p>
                <div class="clearfix">
                    <div class="price">$79.99</div>
                    <p><a href="#" class="btn btn-default" role="button"><i class="fas fa-plus"></i> Add to wish list</a>
                        <a href="#" class="btn btn-primary" role="button">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1b/Monster_Hunter_World_cover_art.jpg" 
                class="img-responsive" alt="monster hunter">
            <div class="caption">
                <h3>Monster Hunter</h3>
                <p class="des">Monster Hunter: World[a] is an action role-playing game developed and published by Capcom. 
                    In the game, the player takes the role of a Hunter, 
                    tasked to hunt down and either kill or trap monsters that roam in one of several environmental spaces.</p>
                <div class="clearfix">
                    <div class="price">$79.99</div>
                    <p><a href="#" class="btn btn-default" role="button"><i class="fas fa-plus"></i> Add to wish list</a>
                        <a href="#" class="btn btn-primary" role="button">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>