<div style="backgroud-color: white; text-align: center">
    <h1 class="display-3" style="font-family: cursive">Thank you for your purchase!</h1>
    <p style="text-align: left; font-family: cursive; margin: 35px">Dear <br><br>
        Thank you for your order of custom parts. Our development team continues to work hard producing high-quality innovative products
        that will help your company stay on the leading edge in a global market. This fall we look forward to rolling out a new and exciting
        product line that can further improve your company’s productivity. We’ll not only keep you apprised of our product launch through our 
        quarterly newsletter and emails, but we can meet prior to the launch to go over specifications with you and your staff and answer any
        questions. 
        <br>
        <br>
        Sincerely,

    </p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>