<div class="container">
	<div class="card">
		<div class="row">
			<aside class="col-sm-5 border-right">
				<article class="gallery-wrap">
					<div class="img-big-wrap">
						<div> <a href="#"><img src="{{product.imagePath}}"></a></div>
					</div> <!-- slider-product.// -->
				</article> <!-- gallery-wrap .end// -->
			</aside>
			<aside class="col-sm-7">
				<article class="card-body p-5">
					<h3 class="title mb-3">{{product.name}}</h3>

					<p class="price-detail-wrap">
						<span class="price h3 text-warning">
							<span class="currency">CAN $</span><span class="num">{{product.price}}<span>
						</span>
					</p> <!-- price-detail-wrap .// -->
					<dl class="item-property">
						<dt>Description</dt>
						<dd>
							<p>{{product.description}}</p>
						</dd>
					</dl>
					<dl class="param param-feature">
						<dt>Delivery</dt>
						<dd>Canada, USA</dd>
					</dl> <!-- item-property-hor .// -->
					<hr>
					<dl class="param param-feature">
						<dt>Rating</dt>
						<dd>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</dd>
					</dl>
					<hr>
					<div class="row">
						<div class="col-sm-5">
							<dl class="param param-inline">
								<dt>Quantity: </dt>
								<dd>
									<select class="form-control form-control-sm" style="width:70px;">
										<option> 1 </option>
										<option> 2 </option>
										<option> 3 </option>
									</select>
								</dd>
							</dl> <!-- item-property .// -->
						</div> <!-- col.// -->
						<div class="col-sm-7">
						</div> <!-- col.// -->
					</div> <!-- row.// -->
					<hr>
					<a href="#" class="btn btn-lg btn-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to
						cart </a>
				</article> <!-- card-body.// -->
			</aside> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->


</div>
<!--container.//-->


