<div style="backgroud-color: white; text-align: center">
    <h1 class="display-3" style="font-family: cursive">Thank you for your purchase!</h1>
    <p style="text-align: left; font-family: cursive; margin: 35px">Dear {user name} <br><br>
        Thank you for your order of custom parts. Our development team continues to work hard producing high-quality
        innovative products
        that will help your company stay on the leading edge in a global market. This fall we look forward to rolling
        out a new and exciting
        product line that can further improve your company’s productivity. We’ll not only keep you apprised of our
        product launch through our
        quarterly newsletter and emails, but we can meet prior to the launch to go over specifications with you and your
        staff and answer any
        questions.
        <br>
        <br>
        Sincerely,

    </p>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header bg-info text-light" style="text-align: left">
                Enjoy!
            </div>
            <div class="card-body">
                {{#each items}}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 text-center">
                        <img class="img-responsive" src="{{this.product_image}}" alt="prewiew" width="120"
                            height="80">
                    </div>
                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                        <h4 class="product-name"><strong>{{this.product_name}}</strong></h4>
                    </div>
                </div>
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
    <hr>
    <p>
        <div >
            Having trouble? 
            <div class="popup" onclick="myFunction()"><span style="color: blue">Contact us</span>
                <span class="popuptext" id="myPopup">Email us: 1234@email.com<br>Call us: 709-1234567</span>
            </div>
        </div>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>
<script>
    function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
    }
</script>