.thumbnail img {
    max-height: 250px; 
     
}

.des {
    width: 250px;
}

.price {
    font-weight: bold;
    font-size: 16px;
    color: red;
}

#carousel-img {
    max-height: 180px;
    width: 250px;
}

.jumbotron {
    background-color: black;
}


.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}

.checked {
    color: orange;
}




